gen/
edmx/
schema-h2.sql
default-env.json
openapi.json
.env
.values.yaml

bin/
target/

# Gradle
.gradle/
build/
.java-version
.classpath
.project
.settings
.vscode
.idea
*.iml

node/
node_modules/

.mta/
*.mtar

*.log*
gc_history*
hs_err*
.DS_Store

*.db
*.sqlite*

.cdsrc-private.json

/chart/
.reloadtrigger
